$text-light-color: #efefef;
$text-dark-color: #323232;
$text-blue-color: #1e297d;
$orange-text-color: #d31b1d;
// TODO Render different coloring of the text based on light or dark background
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	color: $text-light-color;
	text-transform: capitalize;
}

a {
	color: inherit;
	text-decoration: none;
}

ul li {
	list-style-type: none;
}